html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.header {
    margin-bottom: 32px;
    background: yellow;
}
h1 {
    line-height: 48px;
    margin: 0px;
    text-align: center;
}
.row {
    float: left;
    width: 100%;
}
.svg {
    margin: 0px 10% 32px;
}
.input {
    margin: 0px 10% 8px;
}
label {
    cursor: text;
}
input {
    width: 90px;
    border: 1px solid black;
    padding: 8px;
    background-color: white;
    font-size: 16px;
}
input:hover {
    outline: 1px solid yellow;
}
input:focus {
    outline: 2px solid black;
}
button {
    margin-left: 6px;
    border: none;
    padding: 9px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    outline: 1px solid yellow;
}
button:focus {
    outline: none;
}

@media screen and (min-width: 500px) {
    .row {
        width: 50%;
    }
    .svg {
        margin: 0px 5% 32px;
    }
    .input {
        margin: 0px 5% 8px;
    }
    .longitude {
        width: 70px;
    }
}
@media screen and (min-width: 700px) {
    .svg {
        margin: 0px 10% 32px;
    }
    .input {
        margin: 0px 10% 8px;
    }
    .longitude {
        width: 90px;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        line-height: 96px;
    }
    .header {
        margin-bottom: 64px;
    }
    .row {
        width: 25%;
    }
    .svg {
        margin: 0px 5% 32px;
    }
    .input {
        margin: 0px 5% 32px;
    }
    .noinput {
        margin-top: 68px;
    }   
}